<!doctype html>
<html lang="en" ng-app="twitcherinoApp">
<head>
	<meta charset="utf-8">
	<title>Twitcherino</title>
	<base href="/" />
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/bower_components/toastr/toastr.css">
	<link rel="stylesheet" href="/css/app.css">

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/toastr/toastr.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/app/config.js"></script>
	<script src="/app/app.js"></script>
	<script src="/app/services.js"></script>
	<script src="/app/directives.js"></script>
	<script src="/app/controllers.js"></script>
	<script src="/app/account/mvUserCtrl.js"></script>
	<script src="/app/account/mvFollowCtrl.js"></script>
	<script src="/app/channel/mvChannelCtrl.js"></script>
	<script src="/app/channels/mvChannelsCtrl.js"></script>
	<script src="/app/games/mvGamesCtrl.js"></script>
	<script src="/app/gameschannels/mvGamesChannelsCtrl.js"></script>
	<script src="/app/account/mvUser.js"></script>
	<script src="/app/account/mvIdentity.js"></script>
	<script src="/app/account/mvAuth.js"></script>
	<script src="/app/account/mvFollow.js"></script>
	<script src="/app/common/mvNotifier.js"></script>
	<script src="/bower_components/nginfinitescroll/build/ng-infinite-scroll.js"></script>
	<script src="/bower_components/numeral/numeral.js"></script>
	<script src="/vendors/js/attrchange.js"></script>
	<script src="/app/scripts.js"></script>

	<% if ( typeof bootstrappedUser != 'undefined' ){ %>
		<% if (!!bootstrappedUser){ %>
			<script>
				window.bootstrappedUserObject = <%- JSON.stringify(bootstrappedUser); %>
			</script>
		<% } %>
	<% } %>

	<% if ( typeof errorMessage != 'undefined' ){ %>
		<% if (!!errorMessage){ %>
			<script>
				window.errorMessage = <%- '\'' + errorMessage + '\'' %>
			</script>
		<% } %>
	<% } %>

	<% if ( typeof infoMessage != 'undefined' ){ %>
		<% if (!!infoMessage){ %>
			<script>
				window.infoMessage = <%- '\'' + infoMessage + '\'' %>
			</script>
		<% } %>
	<% } %>

</head>
<body>
	<nav class="navbar navbar-default nav-style">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Twitcherino</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
					<span class="sr-only">Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="navbar" class="collapse navbar-collapse activable" ng-controller="NavigationCtrl">
				<ul class="nav navbar-nav">
					<li ng-class="{ active: isActive('/channels')}"><a href="/channels">Channels</a></li>
					<li ng-class="{ active: isActive('/games')}"><a href="/games">Games</a></li>
					<li ng-show="identity.isAuthenticated()" ng-class="{ active: isActive('/following')}"><a href="/follow">Following</a></li>
				</ul>
				<div class="navbar-right">

					<form class="navbar-form" ng-hide="identity.isAuthenticated()">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" href="" data-toggle="dropdown">
									Login
								</a>
								<div class="dropdown-menu dropdown-login">
									<div>
										<input type="text" class="form-control" placeholder="Username" ng-model="username" />
									</div>
									<div>
										<input type="password" class="form-control" placeholder="Password" ng-model="password" />
									</div>
									<div>
										<button class="btn btn-primary" ng-click="signin(username, password)">Sign in</button>
										<a class="btn btn-primary" ng-href="/signup">Sign up</a>
									</div>
									<div>
										<a class="btn-twitch-login" ng-href="/auth/twitchtv">Twitch login</a>
									</div>
								</div>
							</li>
						</ul>
					</form>

					<ul class="nav navbar-nav navbar-right" ng-show="identity.isAuthenticated()">
						<li class="dropdown">
							<a class="dropdown-toggle" href="" data-toggle="dropdown">
								{{identity.currentUser.username}} <strong class="caret"></strong>
							</a>
							<ul class="dropdown-menu">
								<li ng-show="identity.currentUser.isAdmin()">
									<a href="/admin/users">User admin</a>
								</li>
								<li>
									<a href="/profile">Profile</a>
								</li>
								<li>
									<a href="" ng-click="signout()">Sign Out</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div ng-view class="view-frame"></div>
			</div>
		</div>
	</div>
</body>
</html>