<div class="container-fluid" ng-controller="ChannelCtrl">
	<div class="row">
		<div id="item-container" infinite-scroll="loadMore()" infinite-scroll-distance="2" class="item-container">
			<div data-viewers="{{stream.media_views}}" repeat-done="layoutDone()" ng-repeat="stream in hitboxchannels.livestream | limitTo : limit" class="col-lg-2 channel-container sort-container">
				<div class="channel">
					<a ng-href="#/hitbox/{{stream.media_user_name}}">
						<img ng-src="http://edge.sf.hitbox.tv{{stream.media_thumbnail}}" alt="{{stream.media_user_name}}" width="320" height="180" />
					</a>
					<div>{{stream.media_user_name}}</div>
					<div>{{stream.media_views}}</div>
					<div>Hitbox</div>
				</div>
			</div>
			<div data-viewers="{{stream.viewers}}" repeat-done="layoutDone()" ng-repeat="stream in twitchchannels.streams | limitTo : display" class="col-lg-2 channel-container sort-container">
				<div class="channel">
					<a ng-href="#/twitch/{{stream.channel.name}}">
						<img ng-src="{{stream.preview.medium}}" alt="{{stream.channel.display_name}}" width="320" height="180" />
					</a>
					<div>{{stream.channel.display_name}}</div>
					<div>{{stream.viewers}}</div>
					<div>Twitch</div>
				</div>
			</div>
		</div>
	</div>
</div>
