<div class="container-fluid" ng-controller="ChannelCtrl">
	<div class="row">
		<div id="item-container" infinite-scroll="loadMore()" infinite-scroll-distance="3" class="item-container">
			<div data-viewers="{{stream.viewers_number}}" ng-repeat="stream in channels.streams | orderBy : 'viewers_number':true | limitTo : limit" class="col-lg-2 channel-container sort-container">
				<div class="channel">
					<a ng-href="{{stream.link}}">
						<img ng-src="{{stream.thumbnail_url}}" alt="{{stream.username}}" width="320" height="180" />
					</a>
					<div>{{stream.username}}</div>
					<div>{{stream.viewers_number}}</div>
					<div>{{stream.platform}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
