<div class="container">
	<div class="well">
		<form class="form-horizontal" name="profileForm">
			<profile-form></profile-form>
			<div class="form-group">
				<div class="col-md-10-offset-2">
					<div class="pull-right">
						<button class="btn btn-primary" ng-click="update()" ng-disabled="profileForm.$invalid">Submit</button>
						<a href="/" class="btn btn-default">Cancel</a>
					</div>
				</div>
			</div>
		</form>
		<div class="col-md-10-offset-2 clearfix">
			<div class="pull-right">
				<div ng-show="isTwitchConnected">
					Twitch account connected
				</div>
				<div ng-hide="isTwitchConnected">
					<a fixlink ng-href="/auth/twitchtv" href="/auth/twitchtv" class="btn-twitch-login">Twitch login</a>
				</div>
			</div>
		</div>
		<div class="col-md-10-offset-2 clearfix">
			<div class="pull-right">
				<div ng-show="isHitboxConnected">
					Hitbox account connected
				</div>
				<div ng-hide="isHitboxConnected">
					<a ng-href="/hitbox-login" href="hitbox-login" class="btn btn-primary">Hitbox login</a>
				</div>
			</div>
		</div>
		<!--
		<div class="import-container">
			<div class="col-md-10-offset-2 clearfix">
				<div class="pull-right">
					<div ng-show="isTwitchConnected">
						<button ng-click="importTwitchFollows()" class="btn btn-primary">Twitch follows import</button>
					</div>
				</div>
			</div>
			<div class="col-md-10-offset-2 clearfix">
				<div class="pull-right">
					<div>
						<button ng-click="importHitboxShowFunc()" class="btn btn-primary">Hitbox follows import</button>
					</div>
					<div ng-show="importHitboxShow">
						<form class="form-horizontal" name="hitboxImportForm">
							<div>
								<input id="hitbox-user" class="form-control" name="hitbox-user" type="text" placeholder="Enter your Hitbox username" ng-model="hitboxUser" ng-maxlength="50" required />
							</div>
							<div>
								<button class="btn btn-primary" ng-click="importHitboxFollows()" ng-disabled="hitboxImportForm.$invalid">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>-->
		<div class="col-md-10-offset-2 clearfix">
			<div class="pull-right">
				<div class="delete-account-container">
					<button class="btn btn-primary" ng-click="deleteUser()">Delete account</button>
				</div>
			</div>
		</div>
		<div class="col-md-10-offset-2 clearfix" ng-show="isTwitchConnected">
			<div class="pull-right">
				<div class="disconnect-twitch-account-container">
					<button class="btn btn-primary" ng-click="disconnectTwitch()">Disconnect twitch account</button>
				</div>
			</div>
		</div>
		<div class="col-md-10-offset-2 clearfix" ng-show="isHitboxConnected">
			<div class="pull-right">
				<div class="disconnect-hitbox-account-container">
					<button class="btn btn-primary" ng-click="disconnectHitbox()">Disconnect hitbox account</button>
				</div>
			</div>
		</div>
		<div class="col-md-10-offset-2 clearfix">
			<div class="pull-right">
				<div class="change-password-container">
					<button class="btn btn-primary" ng-click="changePasswordFunc()">Change Password</button>
				</div>
			</div>
		</div>
	</div>
</div>