<div class="container">
	<div class="well">
		<form class="form-horizontal" name="profileForm">
			<profile-form></profile-form>
			<div class="form-group">
				<div class="col-md-10-offset-2">
					<div class="pull-right">
						<button class="btn btn-primary" ng-click="update()" ng-disabled="profileForm.$invalid">Submit</button>
						<a href="/" class="btn btn-default">Cancel</a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10-offset-2">
					<div class="pull-right">
						<div ng-show="isTwitchConnected">
							Twitch account connected
						</div>
						<div ng-hide="isTwitchConnected">
							<a fixlink ng-href="/auth/twitchtv" href="/auth/twitchtv" class="btn-twitch-login">Twitch login</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10-offset-2">
					<div class="pull-right">
						<div ng-show="isTwitchConnected">
							<a ng-click="importTwitchFollows()" href="#" class="btn btn-primary">Twitch follows import</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>